/* --  Purchase Order Equipment CSS  -- */

.app-table > thead > tr > th {
    vertical-align: middle;
 }

 .app-table-striped > tbody > tr:nth-child(4n+1) > td,
 .app-table-striped > tbody > tr:nth-child(4n+2) > td {
    background-color: #f9f9f9;
 }

 .app-table-striped > tbody > tr:nth-child(4n+3) > td,
 .app-table-striped > tbody > tr:nth-child(4n+4) > td {
    background-color: #ffffff;
 }
