/* CSS declarations */
/* -- col block helper. To be deleted -- */
.card {
    background-color: papayawhip;
    border:            1px solid darkgray;
    margin-bottom:    24px;
}

.app-container {
    padding-left:  0px;
    padding-right: 0px;
    padding-top:   10px;
    width:         calc(100vw - (100vw / 24 ));
}

.app-content-scroll {
    padding-left:  15px;
    padding-right: 15px;
}

.app-navbar-title {
    font-size:    14px;
}

.app-navbar-button {
    padding-top:   10px;
    padding-right: 10px;
}

/* -- app media queries -- */
@media (min-width: 1200px) {
    
    .app-content-span {
       padding-left:  10px;
       padding-right: 10px;
       
    }

    .app-navbar-brand {
        font-size:      24px;
        padding-top:    20px;
        padding-bottom: 40px;
    }
}

@media (min-height: 700px) {
    .app-col-scroll {
        max-height:   calc(100vh - 100px); /* adjust height */
        overflow-y:   auto;
        margin-right: -20px;
    }
}

/* -- vertical navbar -- */
@media (min-width: 1200px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
        margin-left: 0;
    }

    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar
    {
        /* -- max-width: 300px; -- */
        margin-right: 0;
        margin-left: 0;
    }  

    .navbar-nav,
    .navbar-nav > li,
    .navbar-left,
    .navbar-right,
    .navbar-header
    {float:none !important;}

    .navbar-right .dropdown-menu {left:0;right:auto;}
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
        margin-left: 0;
    }
}